lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

build
deps/lp_solve/Release
deps/lp_solve/binding.sln
deps/lp_solve/lp_solve_5.5.vcxproj
deps/lp_solve/lp_solve_5.5.vcxproj.filters

outputjs
